<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<title>Digital Library: Borrow eBooks, audiobooks and videos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}" />
  </head>
	<body>
	  <div id="page-container">
	<!-- Navigation: Logo, Search Bar, Sign In/Out -->
		<header>
			<nav>
				<a class="logo" href="/index"> <img width="30px" height="30px" alt="Digital Library Logo" src="styles/ELibraryLogo.png"/> </a> <!-- FIND LOGO -->
				
				<!-- Search icon in css -->
				<form method="get" action="/searched">
					<input placeholder=" Search by title " type="text" name="search" id="search"/>
					<input class="search-icon" type="submit" value=""/>
				</form>
				
				<a class="sign-in" href="/signin" th:if="${session.loggedInUser == null}"> Sign In</a>
				<a class="sign-up" href="/signup" th:if="${session.loggedInUser == null}"> Sign Up </a>
				
				<div th:if="${session.loggedInUser != null}">
					<a class="profile" href="profile" th:text="'Welcome ' + ${session.loggedInUser.firstName}"></a>
				
					<form method="get" action="/logout">
						<input class="logout" type="submit" value="Sign Out"/>
					</form>
				</div>
			</nav>
		</header>
	
		<!-- User Information: profile account; and functionalities -->
		<section>
			<div class="sidebar">
				<p th:text="${session.loggedInUser.firstName + ' ' + session.loggedInUser.lastName}"></p>
				
				<hr/>
				<form method="get" action="/profileActions">
    				<input type="submit" value="Profile" name="button"/> 
          			<input type="submit" value="Loans" name="button"/> 
           			<input type="submit" value="History" name="button"/>
           		
           			 	<hr/>
        				<!-- Librarian / Admin Functionalities --> 
        				<div th:if="${session.loggedInUser.class.simpleName == 'Librarian' || 
        				session.loggedInUser.class.simpleName == 'Admin'}">
        					<input type="submit" value="Add Item" name="button"/>
        					<input type="submit" value="Edit Item" name="button"/>
        					<input type="submit" value="Delete Item" name="button"/>
        				</div>
        	
           		     	<div th:if="${session.loggedInUser.class.simpleName == 'Admin'}">
           		     	<hr/>
           		     	<!-- Admin Functionalities -->
           		     		<input type="submit" value="Add Librarian" name="button"/>
        					<input type="submit" value="Delete Librarian" name="button"/>
           			 	</div>
  				</form>
			</div>
			
			
			<div class="main-body">
			   <div th:if="${buttonClicked == 'Profile' || buttonClicked == null}">
        			<h1>Profile</h1>
        			<p th:text="'Username: ' + ${session.loggedInUser.username}"></p>
        			<p th:text="'First Name: ' + ${session.loggedInUser.firstName}"></p>
        			<p th:text="'Last Name: ' + ${session.loggedInUser.lastName}"></p>
        			<p th:text="'Email: ' + ${session.loggedInUser.email}"></p>
        	   </div>
        	   
        	   <div th:if="${buttonClicked == 'Loans'}">
        	   	<p th:if="${session.loans == null}"> <br/> <br/> No loans currently out </p>
				<div th:if="${session.loans != null}" class="book" th:each="loan : ${session.loans}"> 
					<a class="profile" href="">
  					<img th:alt="${loan.item.title}" th:src="${loan.item.imgSrc}"/>
					<h3 th:text="${loan.item.title}"></h3>
					<p th:text="${loan.item.creator}"></p><p th:text="${loan.item.publicationYear}"></p>
					<p th:text="Due Date: ' + ${loan.borrowedDate}"></p>
					</a>
				</div>
        	   </div>
        	   
        	   <div th:if="${buttonClicked == 'History'}">
        	   	<p th:if="${session.history == null}"> <br/> <br/> You have not yet checked out any items </p>
				<div th:if="${session.history != null}" class="book" th:each="loan : ${session.history}"> 
					<a class="profile" href="">
  					<img th:alt="${loan.item.title}" th:src="${loan.item.imgSrc}"/>
					<h3 th:text="${loan.item.title}"></h3>
					<p th:text="${loan.item.creator}"></p>
					<p th:text="${loan.returnedDate}"></p>
					</a>
				</div>
        	   </div>

			   <div th:if="${buttonClicked == 'Add Item'}">
			   	<h2>Add Library Item</h2>
        	    <form action="#" th:action="@{/createitem}" th:object="${item}" method="post" id="add-item">
					<h3>Enter the item's details: </h3>
					<input placeholder=" Title " type="text" name="title" id="title" th:field="*{title}"/>
				
					<textarea rows="4" cols="50" name="description" form="add-item" th:field="*{description}"> Plot Description (Max: 225 characters)</textarea>
				
					<input placeholder=" Genre " type="text" name="genre" id="genre" th:field="*{genre}"/>
					<input placeholder=" Author " type="text" name="author" id="author" th:field="*{creator}"/>
					<input placeholder=" Publication Year " type="text" name="year" id="year" th:field="*{publicationYear}"/>
					<input placeholder=" Image Source " type="text" name="imgSrc" id="imgSrc" th:field="*{imgSrc}"/>
				
				 	<select name="classType" id="classType">
    					<option value="Ebook">Ebook</option>
   	 					<option value="Audiobook">Audiobook</option>
    					<option value="Magazine">Magazine</option>
    					<option value="Video">Video</option>
  					</select>
				<input class="signup" type="submit" value="Add Item"/>
			  </form>
        	</div>

			<div th:if="${buttonClicked == 'Delete Item' || buttonClicked == 'Edit Item'}">
        		<br/><a class="delete-edit" href="/browse">Search for book to edit or delete</a>
        	</div>
        	
        	<div th:if="${buttonClicked == 'Add Librarian'}">
        	  <br/>
			  <form action="#" th:action="@{/createlibrarian}" th:object="${librarian}" method="post" id="add-item">
			  	<h3>Enter Librarian details: </h3>
				<input placeholder=" First Name " type="text" name="firstname" id="firstname" th:field="*{firstName}"/>
				<input placeholder=" Last Name " type="text" name="lastname" id="lastname" th:field="*{lastName}"/>
				<input placeholder=" Email address " type="text" name="email" id="email" th:field="*{email}"/>
				<input placeholder=" Username " type="text" name="username" id="username" th:field="*{username}"/>
				
				<h3>Set a password: </h3>
				<input placeholder=" Password " type="password" name="pw" id="pw" th:field="*{password}"/>
						
				<input class="signup" type="submit" value="Add Librarian"/>
			   </form>
        	</div>
       		
       		<div th:if="${buttonClicked == 'Delete Librarian'}">
        	  <br/>
			  <p th:if="${session.librarians == null}"> <br/> No librarians currently </p>
			  <h3 th:if="${session.librarians != null}"><br/>Librarians: <br/></h3>
			  <div th:if="${session.librarians != null}" class="librarian-info" th:each="librarian : ${session.librarians}"> 
				<p th:text="'Username: ' + ${librarian.username}" ></p>
				<p th:text="'First Name: ' + ${librarian.firstName}"></p>
				<p th:text="'Last Name: ' + ${librarian.lastName}"></p>
				<p th:text="'Email: ' + ${librarian.email}"></p>
				<br/>
				<!-- Add delete button -->
        		<form action="#" th:action="@{/deleteuser}" method="post">
        			<input type="hidden" name="user" th:value="${librarian.id}"/>
        			<input class="signup" type="submit" value=" Delete " name="button" onclick="return confirm('Are you sure you want to delete?')"/>
        		</form>
			  </div>
        	</div> 
        	
			</div>
		</section>

		<!-- Footer: Company Links -->
		<footer id="footer">
			<a class="contact" href="/contact"> Contact </a> 
			<a class="about" href="/about">About Us</a>
		</footer>
	  </div>
	</body>
</html>