<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<title>Contact Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}" />
  </head>
  <body>
  	<div id="page-container">
		<!-- Navigation: Logo, Search Bar, Sign In/Out -->
		<header>
			<nav>
				<a class="logo" href="/index"> <img width="30px" height="30px" alt="Digital Library Logo" th:src="@{/assets/css/images/logo.png}"/> </a>
				
				<!-- Search icon in css -->
				<form method="get" action="/searched">
					<input placeholder=" Search by title " type="text" name="search" id="search"/>
					<input class="search-icon" type="submit" value=""/>
				</form>
				
				<a class="sign-in" href="/signin" th:if="${session.loggedInUser == null}"> Sign In</a>
				<a class="sign-up" href="/signup" th:if="${session.loggedInUser == null}"> Sign Up </a>
				
				<div th:if="${session.loggedInUser != null}">
					<a class="profile" href="profile" th:text="'Welcome ' + ${session.loggedInUser.firstName}"></a>
				
					<form method="get" action="/logout">
						<input class="logout" type="submit" value="Sign Out"/>
					</form>
				</div>
			</nav>
		</header>
		
		<section class="contact-section">
			<h1> Get In Touch </h1>
			<p> Hagr Saad <br/> Toronto ON <br/> Canada</p>
			
			<h2>Call Us: </h2>	
			<p>(123)456-7890</p>
			
			<h2> Email: </h2>
			<a href="mailto:Hagr.Saad@fdmgroup.com">help@elibrary.com</a>
		</section>
		
		<!-- Footer: Company Links -->
		<footer id="footer">
			<a class="contact" href="/contact"> Contact </a> 
			<a class="about" href="/about">About Us</a>
		</footer>
	  </div>
	</body>
</html>