<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<title>Digital Library: Borrow eBooks, audiobooks and videos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}" />
  </head>
	<body>
			<div id="page-container">
	<!-- Navigation: Logo, Search Bar, Sign In/Out -->
		<header>
			<nav>
				<a class="logo" href="/index"> <img width="30px" height="30px" alt="Digital Library Logo" src="styles/ELibraryLogo.png"/> </a> <!-- FIND LOGO -->
				
				<!-- Search icon in css -->
				<form method="get" action="/searched">
					<input placeholder=" Search by title " type="text" name="search" id="search"/>
					<input class="search-icon" type="submit" value=""/>
				</form>
				
				<a class="sign-in" href="/signin" th:if="${session.loggedInUser == null}"> Sign In</a>
				<a class="sign-up" href="/signup" th:if="${session.loggedInUser == null}"> Sign Up </a>
				
				<div th:if="${session.loggedInUser != null}">
					<a class="profile" href="profile" th:text="'Welcome ' + ${session.loggedInUser.firstName}"></a>
				
					<form method="get" action="/logout">
						<input class="logout" type="submit" value="Sign Out"/>
					</form>
				</div>
			</nav>
		</header>
		
	
		<!-- Item Edit section -->
		<section>
			<br/>
			
			<h2 th:text="'Edit ' + ${item.title}"></h2>
			
			<div> 
				<form id="add-item" action="#" th:action="@{/}" th:object="${item}" method="post">
					<img height="250px" th:alt="${item.title}" th:src="${item.imgSrc}"/> <br/>
			
  					<input th:placeholder="' Title: ' +  ${item.title}" type="text" name="title" id="title" th:field="*{title}"/>
					<textarea rows="4" cols="50" name="description" form="add-item" th:field="*{description}" th:placeholder="' Plot Description: ' +  ${item.description} + '(Max: 225 characters)'"></textarea>
				
					<input th:placeholder="' Genre: ' +  ${item.genre}" th:field="*{genre}" type="text" name="genre" id="genre"/>
					
					<input th:placeholder="' Author: ' +  ${item.creator}" th:field="*{creator}" type="text" name="author" id="author"/>
					<input th:placeholder="' Publication Year: ' +  ${item.publicationYear}" th:field="*{publicationYear}" type="text" name="year" id="year"/>
					<input th:placeholder="' Image Source: ' +  ${item.imgSrc}" th:field="*{imgSrc}" type="text" name="imgSrc" id="imgSrc"/>
			
						
    				<input class="signup" type="submit" value="Submit" name="button"/> 
  				</form>
				
			</div>

			
		</section>
		<!-- Footer: Company Links -->
		<footer id="footer">
			<a class="contact" href="/contact"> Contact </a> 
			<a class="about" href="/about">About Us</a>
		</footer>
	  </div>
	</body>
</html>