<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heroku Connect Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<!--<div style="margin-top: 20px;margin-left: 50px">-->
<div class="container">
<h2> Heroku Spring Boot PostgreSQLDemo : </h2>

	<p class="style1"> Get List of Users : <a href="/users">Link</a></p>
    <p class="style1"> Create a User : <a href="/signup">Link</a></p>
	<p class="style1"> Get List of Items : <a href="/items">Link</a></p>
	<p class="style1"> Create an Item : <a href="/createitemform">Link</a></p>
	<p class="style1"> Get List of Loans : <a href="/loans">Link</a></p>
</div>
</body>
</html>